---
import BaseHead from "../components/BaseHead.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import NoDisponible from "../components/NoDisponible.astro";
---

<BaseHead title="Contenido no disponible | Tu Primer Hogar" description="Mantenimiento temporal." />
<Navbar />

<main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-16">
  <NoDisponible />
</main>

<Footer />
