---
import LegalLayout from "../layouts/LegalLayout.astro";
---

<LegalLayout title="Política de Privacidad">
  <h2>Política de Privacidad y Protección de Datos</h2>
  <p>
    En Tu Primer Hogar nos comprometemos a asegurar que su información personal
    se encuentre protegida y no se utilice de forma indebida. En cumplimiento
    del Reglamento General de Protección de Datos (RGPD) y la Ley Orgánica de
    Protección de Datos y Garantía de Derechos Digitales (LOPD-GDD), le
    informamos de lo siguiente:
  </p>

  <h3>1. Responsable del tratamiento</h3>
  <p>
    Los datos personales recogidos a través de este sitio web serán
    responsabilidad de <strong>ALFIL PATRIMONIAL SOCIMI SA</strong>, con CIF <strong
      >A-29029410</strong
    > y domicilio en Av. Ricardo Soriano 19, 29601 - Marbella. Puede contactar con
    el Delegado de Protección de Datos en info@tuprimerhogar.es.
  </p>

  <h3>2. Finalidad de la recogida de datos</h3>
  <p>
    La recogida y tratamiento automatizado de los Datos Personales tiene como
    finalidad el mantenimiento de la relación comercial y el desempeño de tareas
    de información, formación, asesoramiento y otras actividades propias de Tu
    Primer Hogar.
  </p>
  <p>
    En concreto, tratamos la información que nos facilitan las personas
    interesadas con el fin de gestionar el envío de la información que nos
    soliciten a través de los formularios de contacto o suscripción presentes en
    la web.
  </p>

  <h3>3. Legitimación</h3>
  <p>
    La base legal para el tratamiento de sus datos es el <strong
      >consentimiento</strong
    >. Para contactar a través de esta web se requiere el consentimiento expreso
    de esta política de privacidad.
  </p>

  <h3>4. Destinatarios de los datos</h3>
  <p>
    Sus datos no se cederán a terceros, salvo obligación legal. No se realizan
    transferencias internacionales de datos.
  </p>

  <h3>5. Derechos de los usuarios</h3>
  <p>Como usuario interesado, puede ejercer los siguientes derechos:</p>
  <ul>
    <li>
      Derecho a solicitar el acceso a los datos personales relativos al
      interesado.
    </li>
    <li>Derecho a solicitar su rectificación o supresión.</li>
    <li>Derecho a solicitar la limitación de su tratamiento.</li>
    <li>Derecho a oponerse al tratamiento.</li>
    <li>Derecho a la portabilidad de los datos.</li>
  </ul>
  <p>
    Para ejercer estos derechos, debe enviar un correo electrónico a <strong
      >info@tuprimerhogar.es</strong
    > indicando en el asunto "PROTECCIÓN DE DATOS" y adjuntando una copia de su DNI.
  </p>

  <h3>6. Conservación de los datos</h3>
  <p>
    Los datos proporcionados se conservarán mientras se mantenga la relación
    comercial o durante los años necesarios para cumplir con las obligaciones
    legales.
  </p>

  <h2>7. Ley Aplicable y Jurisdicción</h2>
  <p>
    Para la resolución de todas las controversias o cuestiones relacionadas con
    el presente sitio web o de las actividades en él desarrolladas, será de
    aplicación la legislación española, a la que se someten expresamente las
    partes, siendo competentes para la resolución de todos los conflictos
    derivados o relacionados con su uso los Juzgados y Tribunales de <strong
      >Marbella</strong
    >.
  </p>
</LegalLayout>
